<form method="POST">

	<center>
		<br>
	<header> <h1> SRP for Traffic Estimation <br> </h1>
	<br>  
	<h2>  </h2>
	<br>

	<div style="text-align:center;">
    <table>
    	<tr>
    		<td>Choose the Type of Graph</td>
    		<td>
    			<select name = "tyGraph">
				<option value="Rene Erdos">rene</option>
	  			<option value="P2P -Gnutella">p2p</option>
				</select>
    		</td>
    	</tr>
    	<tr>
    		<td>Choose a Traffic Distribution </td>
    		<td>
    			<select name = "tyTraffic">
				<option value="Pareto">Pareto</option>
	  			<option value="Uniform">Uniform</option>
				</select>
    		</td>
    	</tr>
    	<tr>
    		<td>Prior Distribution</td>
    		<td>
    			<select name = "tyPrior">
				<option value="Gravity">gravity</option>
	  			<option value="perturbed">perturbed</option>
				</select>
    		</td>
    	</tr>
    	<tr>
    		<td>Enter the number of nodes in the graph </td>
    		<td><input name="text"></td>
    	</tr>

    </table>
  </div>

	<br>
    
    <input type="submit">
    <br>
    
</form>